# Functions

In [7]:
def test(a,b,c,d,e):
    return a,b

In [8]:
test(1,2,3,4,5)

(1, 2)

What if you want to pass n argurments? huge arguement list?

### Function with any no of arguements
*args is a standard notation- we can use *any_name

In [9]:
def test1(*args):
    return args

In [11]:
test1(1,2,3)

(1, 2, 3)

In [15]:
def test2(*any_args):
    return any_args

In [16]:
test2(1,3,[3,4,5])

(1, 3, [3, 4, 5])

### Function with a specific data

In [25]:
def test3(*args, a):
    return args, a

In [26]:
test3(1,2,3)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [32]:
test3(1,2,3,a=10)

((1, 2, 3), 10)

### Positional arguement
Function is unable to find the arguement a, therefore pre-define the value of a

In [27]:
def test4(*args, a=10):
    return args, a

In [33]:
test4(1,2,3,[4,5,6])

((1, 2, 3, [4, 5, 6]), 10)

In [40]:
def test5(a, *args):
    return args,a  # The order in which you return does not matter

In [43]:
test5(3,1,2)

(3, (1, 2))

In the above code the first arguement is treated as an individual element.

In [44]:
def test6(a, *args, b, c):
    return a, args, b, c

In [46]:
test6(1, [12,1], 3, b=3, c=4)  # b=3, c=4 is binding

(1, ([12, 1], 3), 3, 4)

In [53]:
def test7(*args):
    for i in args:
        if type(i) == list:
            return i

In [52]:
test7(1,2,[1,23],[4,5])

[1, 23]
[4, 5]

In [111]:
def test77(*args):
    for i in args:
        if type(i) == list:
            print(i)

In [112]:
test77(1,2,[1,23],[4,5])

[1, 23]
[4, 5]

The above function returns only the first -- you can use print-> it will give results or else append it to new list

In [57]:
def test8(*args):
    list1 = []
    for i in args:
        if type(i) == list:
            list1.append(i)
    return list1

In [58]:
test8(1,2,[1,23],[4,5])

[[1, 23], [4, 5]]

In [59]:
dict1 = {"a":1, 2:"John"}

In [60]:
dict1["a"]

1

### Function that accepts key-value pairs

In [66]:
def test9(**kwargs): # keyword arguements
    return kwargs

In [73]:
test9(1,2)

TypeError: test9() takes 0 positional arguments but 2 were given

In [76]:
test9(a=1, b=2) # here the values have been passed as key-value pairs -- Key must be a variable and not a number

{'a': 1, 'b': 2}

#### Some interesting fact

In [79]:
def test10(a, **kwargs):
    return kwargs

In [82]:
test10(10, name="John", age=21)

{'name': 'John', 'age': 21}

In [87]:
def test11(a, **kwargs):
    return kwargs, a

SyntaxError: invalid syntax (124821234.py, line 1)

In [85]:
test(1,[1,2],a=3,4)

SyntaxError: positional argument follows keyword argument (1157352063.py, line 1)

In [90]:
def test12(a, **kwargs, *args):  #*args must be used ahead of **kwargs in the same function
    return kwargs, a

SyntaxError: invalid syntax (3138333266.py, line 1)

In [89]:
def test13(a,*args, **kwargs):
    return args, a, kwargs

In [92]:
test13(1,[2,3],c=3, d=4)

(([2, 3],), 1, {'c': 3, 'd': 4})

### Anonymous functions: Function that takes input anonymously and returns output
Function without a name

In [94]:
def test14(a,b):
    return a*b

In [95]:
test14(1,3)

3

In [99]:
lambda a,b: a*b

In [100]:
anon1 = lambda a,b: a*b

In [101]:
anon1(1,3)

3

In [102]:
anon2 = lambda a,b: (a+b, a*b)

In [103]:
anon2(3,4)

(7, 12)

In [105]:
anon3 = lambda *args: args # lambda with args

In [106]:
anon3(1,23,4)

(1, 23, 4)

In [107]:
anon4 = lambda **kwargs: kwargs

In [110]:
anon4(a=1,b=2)

{'a': 1, 'b': 2}

In [121]:
x = lambda x: [i for i in x]

In [122]:
x([1,2])

[1, 2]

In [134]:
a = 1
def test14(c,d):
    a = 5
    return c*d

In [135]:
test14(a,4)

4

In [136]:
a = 1
def test15(c,d):
    a = 5
    return a*d

In [137]:
test15(a,4)

20

In [140]:
a = 1
def test16(c,d):
    c = 5
    return a*d

In [142]:
c  # life of c is only within the function

NameError: name 'c' is not defined

### List comprehension

In [143]:
lc1 = [1,2,3,4,5]

In [144]:
[ i+2 for i in lc1 ]

[3, 4, 5, 6, 7]

In [145]:
a = lambda a: [i+2 for i in lc1]

In [146]:
a(lc1)

[3, 4, 5, 6, 7]

In [150]:
[ i+2 for i in lc1 if i%2==0] # List comprehension with a condition

[4, 6]

In [153]:
[ i+2 for i in lc1 if i%2==0 if i>2] # List comprehension with two or multiple conditions

[6]

### Dictionary comprehension

In [ ]:
d = {1:1, 2:4, 3:9}

In [156]:
{i:i**2 for i in range(10)} # creating a dictionary with a key and value is square of the key

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [159]:
d1 = {}  # without comprehension

for i in range(10):
    d1[i] = i**2
    
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### Tuple comprehension

In [160]:
(i for i in range(10))

In [161]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### Iterable, Iterator and Generators

In [162]:
a = 5
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [165]:
b = "John"  # String is an iterable object

for i in b:
    print(i)

J
o
h
n

In [166]:
next(b)

TypeError: 'str' object is not an iterator

Difference between iterable and iterator: Iterable -> we can access elements in a sequential manner.

In [174]:
z = iter(b)  # iter function converts iterable into Iterator therefore String when passed in a for loop 
             # works as an iterator(coz for loop converts an iterable into iterator) but not with NEXT

In [175]:
z

In [176]:
next(z)

'J'

In [177]:
next(z)

'o'

In [178]:
next(z)

'h'

In [179]:
next(z)

'n'

In [180]:
list2 = [5,6,7]
next(list2)

TypeError: 'list' object is not an iterator

### All iterables are iterators